body {
  background: white;
  font-family: Arial;
}

.form-container {
  width: 300px;
  margin: 100px auto;
  text-align: center;
}

input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

button {
  width: 100%;
  padding: 8px;
  background: green;
  color: white;
  border: none;
}

.social-btn {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.social-btn img {
  width: 18px;
  height: 18px;
}
